
.page-container{
    height: 100vh;
    display: grid;
    /* change to 1fr 2fr 1fr if auto is acting strange! */
    grid-template-columns: auto 2fr auto;
    grid-template-areas: ". center .";
}
.independentVar{
    background-color: #9D317E;
    display: flex;
    /* height: 100%; */
    /* justify-content: center; */
    padding: 20px 0;
    flex-direction: column;
}
.savedImages{
    background-color: #9D317E;
    display: flex;
    /* width: 25%; */
    /* height: 100%; */
    /* justify-content: center; */
    padding: 20px 0; 
    align-items: center;
    margin: 80px 0;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
.independentVar img{
    scale: 0.6;
}
.dropdown{
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.buttonArea{
    text-align: right;
    padding: 0 20px;
}
.submitButton{
    background-color: #E7AAF1;
    color: #9D317E;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 150px;
    height: 40px;
}
.arrowArea{
    padding: 0 15px;
}
.arrowArea img {
    transition: transform 0.3s ease;
}
.flipped {
    transform: scaleX(-1);
}
/* overlay test */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 1; 
    pointer-events: none;
    transition: opacity 0.3s ease;
  }